<h2>Create Dinners</h2>

<form action="/save">
  <p>Main Source of Protein: <input type="text" name="main_source"></p>
  <p>Sauce: <input type="text" name="sauce"></p>
  <p>Starch: <input type="text" name="starch"></p>
  <p>Vegetable: <input type="text" name="veggie"></p>
  <input type="submit" value="Add This!">
</form>