<h2>Dinners Rails API</h2>

<p>Would you like to:</p>
<ul>
  <li><a href="/create">Create</a></li>
  <li><a href="/read">Read</a></li>
  <li><a href="/update">Update</a></li>
  <li><a href="/destroy">Destroy</a></li>
</ul>