<!DOCTYPE html>
<html>
<head>
  <title>MiniRailsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav_block">
  <nav>
    <ul>
      <li><a href="/" class="home">Home</a></li>
      <li><a href="/dinners/new" class="create">Create New</a></li>
      <li><a href="/dinners" class="index">Index</a></li>
    </ul>
  </nav>
</div>

<div class="main_block">
  <%= yield %>
</div>

</body>
</html>
