<!DOCTYPE html>
<html>
<head>
  <title>MiniRailsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="nav_bar">
  <div class="home">
    <a href="/">Home</a>
  </div>
  <div class="crud">
    <ul>
      <li><a href="/create">Create New</a></li>
      <li><a href="/list_all">List All</a></li>
    </ul>
  </div>
</nav>
<%= yield %>


</body>
</html>
